*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}

#Optimism {
    background-color: #e9ecef; /* Light background for contrast */
    padding: 15px;
    border-radius: 5px; /* Rounded corners */
}

/* Custom styles for Pessimism section */
#Pessimism {
    background-color: #dee2e6; /* Slightly darker background */
    padding: 15px;
    border-radius: 5px;
}

/* Custom styles for Realism section */
#Realism {
    background-color: #ced4da; /* Even darker background */
    padding: 15px;
    border-radius: 5px;
}